<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish140001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
            <key>fish140008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,141}}</string>
                <key>sourceSize</key>
                <string>{300,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish14.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd22089f2d4dbeb79479ca9cfbb665f$</string>
            <key>textureFileName</key>
            <string>fish14.png</string>
        </dict>
    </dict>
</plist>
