<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish70001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,158},{101,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,51}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{101,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,51}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,55},{101,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{101,49}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{101,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,51}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,55},{101,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{101,49}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{101,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,51}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70007.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,51}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
            <key>fish70008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,51}}</string>
                <key>sourceSize</key>
                <string>{101,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e470a425a5836e7a11bee710cb60bbe6$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
