<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish170001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{146,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{146,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,78}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{148,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{146,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{146,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{146,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,290},{144,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{144,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{144,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{144,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{138,86}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{138,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>fish170008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{142,78}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{142,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish17.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220e9f7e4e4cdb8f6c2743d9c5211684$</string>
            <key>textureFileName</key>
            <string>fish17.png</string>
        </dict>
    </dict>
</plist>
