<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish130001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{224,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,215}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,219},{224,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,215}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{224,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,215}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,645},{224,207}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{224,207}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,436},{224,207}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{224,207}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{224,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{224,195}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,215}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>fish130008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,215}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb1c38391fc388a7fe234e7f67694ad9$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
