<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish180001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{146,138}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,248},{156,132}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,132}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,138},{168,138}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,138}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,140}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{176,140}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{176,134}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{162,112}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{162,112}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180007.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{152,116}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{152,116}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>fish180008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,120},{148,126}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{148,126}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish18.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a272a3315b170eeec0b30e9e4154e32$</string>
            <key>textureFileName</key>
            <string>fish18.png</string>
        </dict>
    </dict>
</plist>
