<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement_word001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,437},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word004.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word006.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word007.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,147},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word008.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,292},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word009.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,147},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word010.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word012.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word013.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word014.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word015.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word017.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word018.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word019.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word020.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word021.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,437},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word022.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word023.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word024.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word025.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word026.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word027.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word028.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word029.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word030.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word031.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,437},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word051.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word052.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word053.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word054.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word058.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word059.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word060.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word067.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word068.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word069.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,437},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word070.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word071.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word072.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word073.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word074.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word081.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word082.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word083.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word084.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>achievement_word093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement_word.png</string>
            <key>size</key>
            <string>{1017,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7af660625a830ae601a4f9330e3ca7$</string>
            <key>textureFileName</key>
            <string>achievement_word.png</string>
        </dict>
    </dict>
</plist>
