<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{124,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{124,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{124,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{124,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement007.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,122},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement008.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,246},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement009.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,370},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,752},{120,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{120,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement011.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,246},{120,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{120,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,122},{122,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,628},{122,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement014.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,374},{122,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement015.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,504},{122,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement017.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,494},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement018.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,870},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement019.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,122},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement020.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,246},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement021.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,370},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement022.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,602},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement023.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,482},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement024.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,362},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement025.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,242},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement026.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,122},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement027.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,746},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement028.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,622},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement029.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,498},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement030.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,870},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement031.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,746},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement051.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,250},{118,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement052.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{118,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement053.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{118,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement054.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{118,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement058.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,862},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement059.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,740},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement060.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,618},{118,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement067.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement068.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement069.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,248},{118,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{118,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement070.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,122},{118,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{118,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement071.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement072.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement073.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,792},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement081.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,622},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement082.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,498},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement083.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,876},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement084.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,876},{118,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{124,128}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement091.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,378},{120,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{120,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement092.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,370},{112,118}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{112,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>achievement093.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{112,118}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{112,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a068e65526cd705b53b6df29e37b34$</string>
            <key>textureFileName</key>
            <string>achievement.png</string>
        </dict>
    </dict>
</plist>
