<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>active.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,73},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>mseicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{45,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,143}}</string>
                <key>sourceSize</key>
                <string>{45,143}</string>
            </dict>
            <key>settingGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,72},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>text_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,49},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>text_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,49},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>text_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>text_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seting.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0335d23139652c27cf86312536bdf4$</string>
            <key>textureFileName</key>
            <string>seting.png</string>
        </dict>
    </dict>
</plist>
