<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>bullet1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>bullet1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>bullet1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>bullet1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>bullet1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>bullet1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,80},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>bullet1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,419},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>bullet1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>bullet1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,697},{42,60}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>bullet1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{65,58}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>bullet1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{85,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>bullet1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,60}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>bullet_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,41},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,37}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>bullet_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,37}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>bullet_0_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>bullet_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,669},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet_0_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,260},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet_0_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>bullet_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,203},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet_0_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,146},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet_0_3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>bullet_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,572},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>bullet_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,527},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>bullet_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,363},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>bullet_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,60}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>bullet_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{26,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,65}}</string>
                <key>sourceSize</key>
                <string>{26,65}</string>
            </dict>
            <key>bullet_2_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>bullet_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,299},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>bullet_2_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>bullet_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>bullet_2_3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,729},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>bullet_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,708},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>bullet_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,642},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>bullet_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,602},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>bullet_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,482},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet_3_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,80},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>bullet_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet.pvr.ccz</string>
            <key>size</key>
            <string>{126,761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a35d1a35d886e1f761d2d9fca8044a50:1/1$</string>
            <key>textureFileName</key>
            <string>Bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
