<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WFclockBgLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,255},{127,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,43}}</string>
                <key>sourceSize</key>
                <string>{127,43}</string>
            </dict>
            <key>WFscoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,300},{170,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,35}}</string>
                <key>sourceSize</key>
                <string>{170,35}</string>
            </dict>
            <key>addButton_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,245},{97,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,60}}</string>
                <key>sourceSize</key>
                <string>{97,60}</string>
            </dict>
            <key>addButton_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,258},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>bottom_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,460},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>bottom_timeDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,472},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>btnAchieve_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,160},{138,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,121}}</string>
                <key>sourceSize</key>
                <string>{138,121}</string>
            </dict>
            <key>btnAchieve_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,158},{124,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,111}}</string>
                <key>sourceSize</key>
                <string>{124,111}</string>
            </dict>
            <key>btnCollect_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,428},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>btnCollect_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,310},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>btnLottery_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,428},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>btnLottery_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,344},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>btn_TipSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>btn_giftyimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,236},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>btn_giftyiyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,162},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,360},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>buyCoinButton_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,300},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>buyCoinButton_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,300},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>buyCoinButton_Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,300},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>buyDiamondButton_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>buyDiamondButton_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,260},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>buyDiamondButton_Blink.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,284},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>camera_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,454},{67,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,54}}</string>
                <key>sourceSize</key>
                <string>{67,54}</string>
            </dict>
            <key>camera_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,454},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,135},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,61},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{251,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,83}}</string>
                <key>sourceSize</key>
                <string>{251,83}</string>
            </dict>
            <key>itemCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>laserDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>laser_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>laser_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>laser_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>laser_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>onlineAward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,156},{102,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>onlineAward_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,460},{118,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,43}}</string>
                <key>sourceSize</key>
                <string>{118,43}</string>
            </dict>
            <key>pauseButton_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,424},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>pauseButton_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,96},{90,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>progressCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,156},{124,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,23}}</string>
                <key>sourceSize</key>
                <string>{124,23}</string>
            </dict>
            <key>prop000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{194,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,193}}</string>
                <key>sourceSize</key>
                <string>{194,193}</string>
            </dict>
            <key>prop001.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{129,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,154}}</string>
                <key>sourceSize</key>
                <string>{129,154}</string>
            </dict>
            <key>prop002.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,300},{123,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,158}}</string>
                <key>sourceSize</key>
                <string>{123,158}</string>
            </dict>
            <key>prop003.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{123,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,152}}</string>
                <key>sourceSize</key>
                <string>{123,152}</string>
            </dict>
            <key>prop004.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,300},{139,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,152}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>prop005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{97,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,156}}</string>
                <key>sourceSize</key>
                <string>{97,156}</string>
            </dict>
            <key>subButton_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,146},{97,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,60}}</string>
                <key>sourceSize</key>
                <string>{97,60}</string>
            </dict>
            <key>subButton_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,156},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>text_offLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,209},{69,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,32}}</string>
                <key>sourceSize</key>
                <string>{69,32}</string>
            </dict>
            <key>text_onlineAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,310},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>word_connecting.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,160},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>word_timeOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,469},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bebfb56e87f501967ed19b8c24b367$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
