<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{66,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{64,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,36}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,134},{64,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{64,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{66,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>fish20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{66,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c16088423df1a3fbee11b31c8ca8bc$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
