<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish80001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{97,99}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{97,99}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,97},{95,103}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{95,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80003.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{93,111}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,111}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{93,99}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{93,99}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{91,89}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{91,89}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,289},{93,89}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{93,89}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fish80008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,194},{99,93}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{99,93}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6290bf241ec8153933ccedcbcc8f18$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
