<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{75,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{75,38}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{77,40}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,46}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,46}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,56}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,50},{75,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,44},{75,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{73,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{73,56}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>fish50008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,106},{73,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,48}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef9035e03da126e74997ba6ac353251d$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
