<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish90001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,116},{208,108}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{208,108}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,108}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{210,108}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{208,112}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{208,112}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,222},{208,108}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{208,108}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,226},{206,108}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{206,108}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{208,108}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{208,108}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,226},{206,110}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{206,110}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
            <key>fish90008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{208,108}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{208,108}}</string>
                <key>sourceSize</key>
                <string>{210,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52bfda5057be83acb2f8e868bf5d6281$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
