<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>female_head001.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,341},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head002.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,228},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head003.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,115},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head004.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,2},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head005.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,341},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head006.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,228},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head007.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,115},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head008.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head009.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,341},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head010.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,228},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head011.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,115},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>female_head012.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,2},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head001.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,341},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head002.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,228},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head003.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,115},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head004.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head005.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,341},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head006.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,228},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head007.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,115},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head008.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,2},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>head012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{89,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,111}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>head.png</string>
		<key>size</key>
		<string>{548,454}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a981641fbb096498becc622b1fbf5e67$</string>
		<key>textureFileName</key>
		<string>head.png</string>
	</dict>
</dict>
</plist>
