<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cannon_01bomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,721},{86,88}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,38},{86,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,825},{98,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{98,98}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,828},{102,112}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{102,112}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,491},{122,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{122,126}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,167},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,874},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,152},{114,122}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{114,122}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,898},{114,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{114,124}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,317},{114,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{114,122}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{114,124}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{114,124}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb012.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,890},{122,130}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{122,130}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,890},{130,122}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01bomb014.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,874},{18,16}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,75},{18,16}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>Cannon_01prepare001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>Cannon_01prepare002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,619},{90,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{90,100}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>Cannon_01prepare003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,731},{92,110}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>Cannon_02bomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,181},{134,171}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{134,171}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,548},{144,171}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{144,171}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,491},{144,125}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{144,125}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,678},{148,139}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{148,139}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,521},{150,155}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{150,155}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,196},{176,177}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{176,177}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,226},{200,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{200,201}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,400},{166,179}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{166,179}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb009.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,819},{170,187}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{170,187}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb010.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{172,177}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{172,177}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{160,163}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{160,163}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,354},{154,165}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{154,165}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb013.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,721},{152,167}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{152,167}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb014.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,548},{150,167}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{150,167}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb015.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{150,169}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{150,169}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,874},{148,171}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{148,171}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb017.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,375},{144,171}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{144,171}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb018.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,375},{142,171}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_02bomb019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,885},{134,145}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{134,145}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>Cannon_03bomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,619},{110,106}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,74},{110,106}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,339},{138,150}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,57},{138,150}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,717},{158,166}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,49},{158,166}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,811},{172,180}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,42},{172,180}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,629},{182,188}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{182,188}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,204},{186,194}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{186,194}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,464},{200,204}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{200,204}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{200,200}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{200,200}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{212,208}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{212,208}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb010.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{222,202}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{222,202}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,208}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{230,208}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{228,210}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{228,210}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{218,202}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{218,202}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,173},{164,162}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{164,162}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb015.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,629},{180,176}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{180,176}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb016.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{192,186}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{192,186}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb017.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,429},{198,192}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{198,192}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,670},{202,196}}</string>
                <key>offset</key>
                <string>{-13,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{202,196}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
            <key>Cannon_03bomb019.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,226},{202,162}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{202,162}}</string>
                <key>sourceSize</key>
                <string>{232,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CannonEffectFrame.png</string>
            <key>size</key>
            <string>{1560,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af036f9802680af4499005565aaab083$</string>
            <key>textureFileName</key>
            <string>CannonEffectFrame.png</string>
        </dict>
    </dict>
</plist>
